<head>
<title>University Online!</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</meta>
<!-- Bootstrap -->

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	crossorigin="anonymous"></link>
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-sm">
				<div class="dropdown-divider"></div>
				
				<div class="px-4 py-3">
					<span th:if="${currentEvent} == ''">
						Semester Events has not been initialized.
						<a id="start_pre_semester" th:if="${login} == 'clerk'" href="/start-pre-semester">
							[Start Pre Semester]
						</a>
					</span>
					
					<span id="current_event_span" th:if="${currentEvent} != ''" 
						th:text="@{|The University is at: ${currentEvent}|}"></span>
				</div>
				
				<form class="px-4 py-3" action="/login" method="post" 
					th:style="${login} == '' ? 'display: block' : 'display: none'">
					<div th:if="${errMessage}">
						<h2 class="text-danger" th:text="${errMessage}" />
					</div>
					
					<div class="form-group">
						<label for="exampleDropdownFormEmail1">Username</label> <input
							type="text" class="form-control" id="exampleDropdownFormEmail1"
							placeholder="clerk|student|prof" name="username" />
					</div>
					<div class="form-group">
						<label for="exampleDropdownFormPassword1">Password</label> <input
							type="password" class="form-control" name="password"
							id="exampleDropdownFormPassword1" placeholder="Password"></input>
					</div>
					<div class="form-check">
						<label class="form-check-label"> <input type="checkbox"
							class="form-check-input" /> Remember me
						</label>
					</div>
					<button type="submit" name="login_submit" class="btn btn-primary">Sign in</button>
				</form>
				
				<div class="dropdown-divider"></div>
				
				<form class="px-4 py-3" action="/course" method="post" 
					th:style="${login} == 'clerk' ? 'display: block' : 'display: none'">
					<div th:if="${errMessage}">
						<h2 th:text="${errMessage}" />
					</div>
					
					<div class="form-group">
						<label for="exampleDropdownFormEmail1">Course Title</label> <input
							type="text" class="form-control"
							placeholder="Data Mining" name="course_title" />
					</div>
					<div class="form-group">
						<label for="exampleDropdownFormPassword1">Course Code</label> <input
							type="text" class="form-control" name="course_code"
							placeholder="123456"></input>
					</div>
					<div class="form-group">
						<label for="exampleDropdownFormPassword1">Course Capacity</label> <input
							type="text" class="form-control" name="course_capacity"
							placeholder="27"></input>
					</div>
					<div class="form-group">
						<label for="exampleDropdownFormPassword1">Number of Assignments</label> <input
							type="text" class="form-control" name="num_assignments"
							placeholder="2"></input>
					</div>
					<div class="form-group">
						<label for="exampleDropdownFormPassword1">Number of Midterms</label> <input
							type="text" class="form-control" name="num_midterms"
							placeholder="2"></input>
					</div>
					<div class="form-group">
						<label for="exampleDropdownFormPassword1">Has a Final</label> 
						<input type="radio" name="has_final" value="yes"/> Yes
  						<input type="radio" name="has_final" value="no"/> No
					</div>
					<button type="submit" class="btn btn-primary" name="add_course_btn">
						Add Course
					</button>
				</form>
				
				<div class="dropdown-divider"></div>
				
				<form class="px-4 py-3" action="/student" method="post" 
					th:style="${login} == 'clerk' ? 'display: block' : 'display: none'">
					<div th:if="${errMessage}">
						<h2 th:text="${errMessage}" />
					</div>
					
					<div class="form-group">
						<label for="exampleDropdownFormEmail1">Student Name</label> <input
							type="text" class="form-control"
							placeholder="Ethan Hawke" name="student_name" />
					</div>
					<div class="form-group">
						<label for="exampleDropdownFormPassword1">Student Number</label> <input
							type="text" class="form-control" name="student_number"
							placeholder="123456"></input>
					</div>
					<div class="form-group">
						<label for="exampleDropdownFormPassword1">Department Code</label> <input
							type="text" class="form-control" name="dept_code"
							placeholder="27"></input>
					</div>
					<div class="form-group">
						<label for="exampleDropdownFormPassword1">Is Full Time</label> 
						<input type="radio" name="is_fulltime" value="yes"/> Yes
  						<input type="radio" name="is_fulltime" value="no"/> No
					</div>
					<button type="submit" name="add_student" class="btn btn-primary">Add Student</button>
				</form>
				
				<div class="dropdown-divider"></div>
				
				<div class="px-4 py-3" action="/student" method="post" 
					th:style="${login} == 'student' ? 'display: block' : 'display: none'">
					<div th:if="${errMessage}">
						<h2 id="student_course_err_msg" th:text="${errMessage}" />
					</div>
					
					<div>
						<h3>Registered Courses</h3>
						<div th:if="${errCourseMessage}">
							<p th:text="${errCourseMessage}" class="text-danger"></p>
						</div>
						<div th:if="${successCourseMessage}">
							<p th:text="${successCourseMessage}" class="text-success"></p>
						</div>
						<ul>
							<li th:each="course : ${studentCourses}">
	       						<span th:text="${course.title()}"></span>
	       						
	       						<span>
									<a th:text="[DeRegister]" th:id="'deregister_' + ${course.code()}"
									 th:href="@{|/deregister-course/${course.code()}/${studentId}|}"></a>
								</span>
								
								<span>
									<a th:text="[Drop]" th:id="'drop_' + ${course.code()}"
									 th:href="@{|/drop-course/${course.code()}/${studentId}|}"></a>
								</span>
	       						
	       					</li>
						</ul>
					</div>
				
				</div>
				
				<!-- <a class="dropdown-item" href="#">New around here? Sign up</a> <a
					class="dropdown-item" href="#">Forgot password?</a>  -->
			</div>
			<div class="col-sm">
				<div class="dropdown-divider"></div>
				
				<div th:if="${message}">
					<h2 th:text="${message}" />
				</div>
				
				<div>
					<h3>Available Courses</h3>
					<div th:if="${errCourseMessage}">
						<p id="course_err_msg" th:text="${errCourseMessage}" class="text-danger"></p>
					</div>
					<div th:if="${successCourseMessage}">
						<p id="course_success_msg" th:text="${successCourseMessage}" class="text-success"></p>
					</div>
					<ul>
						<li th:each="course : ${courses}">
       						<span th:id="'course_' + ${course.code()}" th:text="${course.title()}"></span>
       						
       						<span th:if="${login} == 'clerk'">
								<a th:text="[Delete]" th:id="'delete_course_' + ${course.code()}" th:href="@{|/delete-course/${course.code()}|}"></a>
							</span>
							
							<span th:if="${login} == 'student' and ${#lists.isEmpty(studentCourses)}">
								<a th:text="[Register]" th:id="'register_' + ${course.code()}" th:href="@{|/register-course/${course.code()}/${studentId}|}"></a>
							</span>
							
							<span th:if="${login} == 'student' and ${not #lists.isEmpty(studentCourses)} and ${not #lists.contains(studentCourses, course)}">
								<a th:text="[Register]" th:id="'register_' + ${course.code()}" th:href="@{|/register-course/${course.code()}/${studentId}|}"></a>
							</span>
       						
       					</li>
					</ul>
					<div th:if="${#lists.isEmpty(courses)}">
						<p>No Available Course.</p>
					</div>
				</div>
				
				
				<div>
					<h3>Available Students</h3>
					<div th:if="${errStudentMessage}">
						<p id="student_err_msg" th:text="${errStudentMessage}" class="text-danger"></p>
					</div>
					<div th:if="${successStudentMessage}">
						<p id="student_success_msg" th:text="${successStudentMessage}" class="text-success"></p>
					</div>
					<ul>
						<li th:each="student : ${students}">
       						<span th:id="'student_' + ${student.studentNumber()}" th:text="${student.name()}"></span>
       						<a th:if="${login} == 'clerk'" th:text="[Delete]" 
       							th:href="@{|/delete-student/${student.studentNumber()}|}"
       							th:id="'delete_student_' + ${student.studentNumber()}"></a>
       					</li>
					</ul>
					<div th:if="${#lists.isEmpty(students)}">
						<p>No Available Student.</p>
					</div>
				</div>
				
				<div th:if="${not #lists.isEmpty(courses)}">
					<h3>Course Details</h3>
					<ul>
						<li th:each="course : ${courses}">
       						<span th:text="${course}"></span>
       					</li>
					</ul>
				</div>
				
				<div th:if="${not #lists.isEmpty(students)}">
					<h3>Student Details</h3>
					<ul>
						<li th:each="student : ${students}">
       						<span th:text="${student}"></span>
       					</li>
					</ul>
				</div>
			</div>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
		integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
		integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
		crossorigin="anonymous"></script>
</body>